*.py[cod]
*$py.class
__pycache__/

*.so

*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3
*.log

migrations/

*.sqlite3

/media/

avatars/
accounts/static/

venv/
.venv
.env/
*.env

.idea/
.vscode/
*.swp
*.swo
*.bak
*~

.DS_Store
Thumbs.db
